# **Dataset**
### [5-Minute Crafts: Video Clickbait Titles?](https://www.kaggle.com/datasets/shivamb/5minute-crafts-video-views-dataset)

# **Library**

In [70]:
import pandas as pd

# **Baca Berkas CSV**

In [71]:
df = pd.read_csv("5-Minute Crafts.csv")

# **Dictionary**
Untuk menyimpan data:
*   Jumlah Record
*   Nama Attribute
*   Jumlah Attribute Tipe Objek
*   Jumlah Attribute Tipe Angka
*   Jumlah Attribute Dengan Nilai Null

In [72]:
dictionary = {
    "Jumlah Record" : 0,
    "Nama Attribute" : [],
    "Jumlah Attribute Tipe Objek" : 0,
    "Jumlah Attribute Tipe Angka" : 0,
    "Jumlah Attribute Dengan Nilai Null" : 0
}

# **Mencari Jumlah Record Dataset**

In [73]:
dictionary["Jumlah Record"] = df.shape[0]

# **Mencari Semua Nama Attribute pada Dataset**

In [74]:
dictionary["Nama Attribute"] = list(df.columns)

# **Mencari Jumlah Attribute Bertipe Objek**

In [75]:
dictionary["Jumlah Attribute Tipe Objek"] = len(df.select_dtypes(include = ["object"]).columns)

# **Mencari Jumlah Attribute Bertipe Angka**

In [76]:
dictionary["Jumlah Attribute Tipe Angka"] = len(df.select_dtypes(exclude = ["object"]).columns)

# **Mencari Jumlah Attribute dengan Nilai Null**

In [77]:
null_value = 0
for value in dict(df.isnull().sum()).values():
  if (value > 0):
    null_value += value
dictionary["Jumlah Attribute Dengan Nilai Null"] = null_value

# **Menampilkan Isi Dictionary**

In [78]:
for key, value in dictionary.items():
  if (len(key) == 13):
    print(f"{key}\t\t\t\t: {value}")
  elif (len(key) == 14):
    print(f"{key}\t\t\t\t:\n")
    for index, i in enumerate(value):
      print(f"{index + 1}. {i}")
    print(f"\n")
  elif (len(key) == 27):
    print(f"{key}\t\t: {value}")
  else:
    print(f"{key}\t: {value}")

Jumlah Record				: 4978
Nama Attribute				:

1. video_id
2. title
3. active_since_days
4. duration_seconds
5. total_views
6. num_chars
7. num_words
8. num_punctuation
9. num_words_uppercase
10. num_words_lowercase
11. num_stopwords
12. avg_word_len
13. contain_digits
14. startswith_digits
15. title_sentiment


Jumlah Attribute Tipe Objek		: 2
Jumlah Attribute Tipe Angka		: 13
Jumlah Attribute Dengan Nilai Null	: 0

# **Mean, Standard Deviation, Minimum Value, Maximum Value, Q1, Q2, and Q3 of the number type attribute.**

In [79]:
df.describe()

,active_since_days,duration_seconds,total_views,num_chars,num_words,num_punctuation,num_words_uppercase,num_words_lowercase,num_stopwords,avg_word_len,contain_digits,startswith_digits,title_sentiment
count,4978.000000,4978.000000,4.978000e+03,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000,4978.000000
mean,827.808759,932.421655,4.349619e+06,44.456408,8.208718,0.495982,6.138610,0.287264,2.050020,5.463782,0.913821,0.856770,0.225993
std,426.975866,727.392576,9.936944e+06,13.470281,2.516098,0.901010,2.546744,1.355098,1.373312,0.662885,0.280657,0.350343,0.377586
min,1.000000,11.000000,4.034000e+03,11.000000,3.000000,0.000000,0.000000,0.000000,0.000000,3.666667,0.000000,0.000000,-1.000000
25%,365.000000,696.000000,5.679352e+05,35.000000,6.000000,0.000000,5.000000,0.000000,1.000000,5.000000,1.000000,1.000000,0.000000
50%,730.000000,867.000000,1.459397e+06,43.000000,8.000000,0.000000,6.000000,0.000000,2.000000,5.375000,1.000000,1.000000,0.200000
75%,1095.000000,960.000000,4.271779e+06,52.000000,10.000000,1.000000,8.000000,0.000000,3.000000,5.800000,1.000000,1.000000,0.450000
max,1460.000000,14880.000000,2.830311e+08,100.000000,20.000000,6.000000,18.000000,12.000000,9.000000,10.000000,1.000000,1.000000,1.000000

# **Attribute Correlation Value of Type Number**

In [80]:
df.corr()

,active_since_days,duration_seconds,total_views,num_chars,num_words,num_punctuation,num_words_uppercase,num_words_lowercase,num_stopwords,avg_word_len,contain_digits,startswith_digits,title_sentiment
active_since_days,1.000000,-0.069692,0.072489,-0.096130,-0.088471,-0.219016,0.082655,0.138144,0.034265,-0.022816,0.389519,0.321941,-0.021736
duration_seconds,-0.069692,1.000000,0.035935,0.000763,-0.010724,0.008964,0.096548,-0.191567,-0.030014,0.027323,-0.043962,-0.030802,0.050777
total_views,0.072489,0.035935,1.000000,-0.040823,-0.035871,-0.023406,0.027070,-0.044852,-0.008302,-0.002423,-0.003208,0.024898,-0.013181
num_chars,-0.096130,0.000763,-0.040823,1.000000,0.929404,0.593180,0.328018,0.298415,0.566916,0.117540,-0.179117,-0.329434,0.057436
num_words,-0.088471,-0.010724,-0.035871,0.929404,1.000000,0.522261,0.430704,0.277767,0.707955,-0.236417,-0.116219,-0.270145,0.028409
num_punctuation,-0.219016,0.008964,-0.023406,0.593180,0.522261,1.000000,-0.069895,0.264575,0.111474,0.148458,-0.279863,-0.449613,0.008973
num_words_uppercase,0.082655,0.096548,0.027070,0.328018,0.430704,-0.069895,1.000000,-0.299732,0.489948,-0.262575,0.129158,0.141157,-0.009006
num_words_lowercase,0.138144,-0.191567,-0.044852,0.298415,0.277767,0.264575,-0.299732,1.000000,0.154984,0.030370,-0.067499,-0.295486,0.011981
num_stopwords,0.034265,-0.030014,-0.008302,0.566916,0.707955,0.111474,0.489948,0.154984,1.000000,-0.376699,-0.071700,-0.128346,-0.039208
avg_word_len,-0.022816,0.027323,-0.002423,0.117540,-0.236417,0.148458,-0.262575,0.030370,-0.376699,1.000000,-0.148564,-0.138986,0.072042
contain_digits,0.389519,-0.043962,-0.003208,-0.179117,-0.116219,-0.279863,0.129158,-0.067499,-0.071700,-0.148564,1.000000,0.751079,-0.035378
startswith_digits,0.321941,-0.030802,0.024898,-0.329434,-0.270145,-0.449613,0.141157,-0.295486,-0.128346,-0.138986,0.751079,1.000000,-0.046618
title_sentiment,-0.021736,0.050777,-0.013181,0.057436,0.028409,0.008973,-0.009006,0.011981,-0.039208,0.072042,-0.035378,-0.046618,1.000000

# **The First 10 Records of an Attribute of Type Number**

In [81]:
df.select_dtypes(exclude = ["object"]).head(10)

,active_since_days,duration_seconds,total_views,num_chars,num_words,num_punctuation,num_words_uppercase,num_words_lowercase,num_stopwords,avg_word_len,contain_digits,startswith_digits,title_sentiment
0,22,623,295614,60,12,2,4,0,2,5.000000,0,0,0.144444
1,1,739,130544,87,17,4,5,0,3,5.117647,0,0,0.086905
2,1,960,17834,33,6,0,6,0,2,5.500000,0,0,0.000000
3,30,833,3128867,66,12,2,5,0,3,5.500000,0,0,0.058333
4,15,3600,4210362,56,10,1,5,0,4,5.600000,0,0,0.500000
5,6,3600,90733,37,7,2,5,0,1,5.285714,1,1,0.350000
6,60,900,1081439,38,7,0,6,0,1,5.428571,1,1,1.000000
7,2,3660,582492,58,9,3,4,0,0,6.444444,0,0,1.000000
8,3,900,471701,50,8,0,0,1,3,6.250000,0,0,0.900000
9,90,3600,11175800,38,6,0,6,0,2,6.333333,0,0,0.900000

# **Rubah Nilai Attribute duration_seconds Menjadi Desimal 3 Angka dibelakang Koma**

In [82]:
df_copy = df.copy()

In [83]:
df_copy["duration_seconds"] /= 1000

In [84]:
df_copy.head(20)

,video_id,title,active_since_days,duration_seconds,total_views,num_chars,num_words,num_punctuation,num_words_uppercase,num_words_lowercase,num_stopwords,avg_word_len,contain_digits,startswith_digits,title_sentiment
0,v=XHTofu5wbbM,SUPER LAZY LIFE HACKS || Cool Hacks To Make Yo...,22,0.623,295614,60,12,2,4,0,2,5.000000,0,0,0.144444
1,v=HGxx0umIQvk,YUM! EASY SMART FOOD HACKS || Tasty Recipes Fo...,1,0.739,130544,87,17,4,5,0,3,5.117647,0,0,0.086905
2,v=Tt4RMk3Ih04,HELPFUL LIFE HACKS FOR YOUR HOUSE,1,0.960,17834,33,6,0,6,0,2,5.500000,0,0,0.000000
3,v=A2MTydM5e58,USEFUL HACKS FOR YOUR HOME || Simple Tips That...,30,0.833,3128867,66,12,2,5,0,3,5.500000,0,0,0.058333
4,v=_halJ4yrmGQ,ARE YOU A CRAFTY MOM? Amazing Parenting Hacks ...,15,3.600,4210362,56,10,1,5,0,4,5.600000,0,0,0.500000
5,v=hkgV_8n-iI0,100+ HACKS & GADGETS FOR COOL PARENTS,6,3.600,90733,37,7,2,5,0,1,5.285714,1,1,0.350000
6,v=vws8zmRT_T8,30 BEST HACKS FOR EVERY LIFE SITUATION,60,0.900,1081439,38,7,0,6,0,1,5.428571,1,1,1.000000
7,v=Yd1l0j6L5x0,KID'S ROOM MAKEOVER IDEAS || Awesome Home Deco...,2,3.660,582492,58,9,3,4,0,0,6.444444,0,0,1.000000
8,v=pE-56vEmRXc,Brilliant Clothing Hacks For Adults and Their ...,3,0.900,471701,50,8,0,0,1,3,6.250000,0,0,0.900000
9,v=HMbDPgINfto,BRILLIANT LIFE HACKS FOR ANY SITUATION,90,3.600,11175800,38,6,0,6,0,2,6.333333,0,0,0.900000
10,v=M_VOXuDahK4,OMG! Smart Pet Owners Should See These Gadgets...,2,0.900,169398,54,10,2,1,0,2,5.400000,0,0,0.214286
11,v=ClWB74ckty4,CLEVER WAYS TO HIDE YOUR TREASURES || Useful H...,3,0.960,179509,62,12,3,6,0,2,5.166667,0,0,0.233333
12,v=tHQotkSqTZY,SMART GADGETS TO MAKE YOUR LIFE EASIER,3,0.711,495602,38,7,0,7,0,2,5.428571,0,0,0.214286
13,v=osC4u-k_0rM,SOAP BUBBLES CHALLENGE with 5-MINUTE CRAFTS #s...,4,0.012,335063,51,7,2,5,2,1,7.285714,1,0,0.000000
14,v=RFPlmN343hw,GENIUS SCHOOL HACKS and TIPS FOR PARENTS,5,0.900,1639826,40,7,0,6,1,2,5.714286,0,0,0.000000
15,v=P1UxoFq7h34,LOW-BUDGET ROOM MAKEOVER IDEAS || Smart Repair...,5,0.960,441260,61,10,4,4,0,0,6.100000,0,0,0.214286
16,v=ZeMVh8OptSU,These Awesome Cleaning Hacks Will Blow Your Mi...,6,0.060,425344,58,10,1,0,1,3,5.800000,0,0,1.000000
17,v=77XSqhWT66A,BEST GADGETS FOR SMART PARENTS,6,0.960,125342,30,5,0,5,0,1,6.000000,0,0,0.607143
18,v=pgLirybCW2w,Amazing Beauty Ideas & Gadgets You Need To See,7,0.960,393097,46,9,1,0,0,2,5.111111,0,0,0.600000
19,v=21CRZthRAMc,MEGA PARENTING COMPILATION || Best DIYs & Hack...,7,4.260,1856595,59,10,3,3,0,1,5.900000,0,0,1.000000

# **First 10 Records of Attribute of Type Number**

In [85]:
df.select_dtypes(exclude = ["object"]).head(10)

,active_since_days,duration_seconds,total_views,num_chars,num_words,num_punctuation,num_words_uppercase,num_words_lowercase,num_stopwords,avg_word_len,contain_digits,startswith_digits,title_sentiment
0,22,623,295614,60,12,2,4,0,2,5.000000,0,0,0.144444
1,1,739,130544,87,17,4,5,0,3,5.117647,0,0,0.086905
2,1,960,17834,33,6,0,6,0,2,5.500000,0,0,0.000000
3,30,833,3128867,66,12,2,5,0,3,5.500000,0,0,0.058333
4,15,3600,4210362,56,10,1,5,0,4,5.600000,0,0,0.500000
5,6,3600,90733,37,7,2,5,0,1,5.285714,1,1,0.350000
6,60,900,1081439,38,7,0,6,0,1,5.428571,1,1,1.000000
7,2,3660,582492,58,9,3,4,0,0,6.444444,0,0,1.000000
8,3,900,471701,50,8,0,0,1,3,6.250000,0,0,0.900000
9,90,3600,11175800,38,6,0,6,0,2,6.333333,0,0,0.900000

# **Simpan SubDataset yang hanya bertipe angka ke dalam file csv yang baru**

In [87]:
df.select_dtypes(exclude = ["object"]).to_csv("5-Minute Crafts Number Attribute Only.csv")